<%= stylesheet_link_tag 'testBackground' %>
<%= stylesheet_link_tag "masonry2" %>
<div class="core">
    <div class="row">
        <div class="column">
            <img src="https://live.staticflickr.com/65535/48444875232_70a84832af_k.jpg">
            <img src="https://live.staticflickr.com/65535/48444886692_7615eb659e_k.jpg">
            <img src="https://live.staticflickr.com/65535/48444736556_a85d73e2e6_k.jpg">
            <img src="https://live.staticflickr.com/65535/48444900172_ab9a833019_k.jpg">
            <img src="https://live.staticflickr.com/65535/48444752626_f1c885d484_k.jpg">
            <img src="https://live.staticflickr.com/65535/48444793736_a6c8839bf3_k.jpg">
            <img src="https://live.staticflickr.com/65535/48444955857_c26761969a_k.jpg">
            <img src="https://live.staticflickr.com/65535/48444776571_ce8620f8b4_k.jpg">
        </div>
        <div class="column">
            <img src="https://live.staticflickr.com/65535/48444766251_97db48b0c7_k.jpg">
            <img src="https://live.staticflickr.com/65535/48444970487_021e130ef8_k.jpg">
            <img src="https://live.staticflickr.com/65535/48444976952_c245e7a84a_k.jpg">
            <img src="https://live.staticflickr.com/65535/48444983062_5838e4dea5_k.jpg">
            <img src="https://live.staticflickr.com/65535/48444836071_e6df4757f4_k.jpg">
            <img src="https://live.staticflickr.com/65535/48445002102_2b1f286cf5_k.jpg">
            <img src="https://live.staticflickr.com/65535/48445009552_24a18967c1_k.jpg">
        </div>
        <div class="column">
            <img src="https://live.staticflickr.com/65535/48444864641_31030bbc35_k.jpg">
            <img src="https://live.staticflickr.com/65535/48445030637_1dbe1f8115_k.jpg">
            <img src="https://live.staticflickr.com/65535/48444897241_0229d87e43_k.jpg">
            <img src="https://live.staticflickr.com/65535/48445065812_ad2bcce6eb_k.jpg">
            <img src="https://live.staticflickr.com/65535/48444919351_1ae2f85acf_k.jpg">
            <img src="https://live.staticflickr.com/65535/48444928031_3bd221b693_k.jpg">
            <img src="https://live.staticflickr.com/65535/48445091392_464f745e73_k.jpg">
        </div>
        <div class="column">
            <img src="https://live.staticflickr.com/65535/48444942116_1ef0517da4_k.jpg">
            <img src="https://live.staticflickr.com/65535/48444946936_03f2d9e456_k.jpg">
            <img src="https://live.staticflickr.com/65535/48444950426_e2c653e9d8_k.jpg">
            <img src="https://live.staticflickr.com/65535/48445108732_c8e10267bc_k.jpg">
        </div>
    </div>
</div>